.projects-wrapper {
    overflow: scroll;

}

/*  */

.easy-grid {
  display: grid;
  grid-gap: var(--g, 1rem);
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--m, 10rem), 100%), 1fr)
  )
}

.languages-container {
  max-width: 1200px;
  margin: 0 auto;
}

