.contact-component {
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25rem;
    height: 15rem;
    text-align: center;
}
#input-message {
    height: 40%;
}



#name-input,
#email-input,
#subject-input,
#input-message {
    text-align: center;
}