.header-component {
    border: 5px solid black;
}


.header-component {
    position: absolute;
    top: 0;
    z-index: 1000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: transparent;
}

.header-wrapper {
    display: block;
    width: 70%;
}

.header-logo {
    float: left;
    font-weight: 700;
    font-size: 1.875em;
}


.header-menu {
    float: right;
    text-align: center;
}

.header-menu li {
    display: inline-block;
    padding: 0.75em 1.875em;
}

.header-menu li a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
}

.header-menu li a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid;
}

.header-menu li a span {
    font-size: 1.2em;
}