* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.app-container {
    font-weight: 500;
    font-family: 'HelveticaNeue';
    width: 100vw;
    height: 100vh;
    background: cover;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 0 7%;
    /* display: table; */
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid gold;
}

section:nth-of-type(2n) {
    background-color: #ac651e;
}



.content {
    display: table-cell;
    vertical-align: middle;
    align-self: center;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
    text-align: center;
}

p {
    font-size: 1.5em;
}

a {
    font-weight: 700;
    color: #373B44;
    /* position: relative; */

}



footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #1d766f;
    color: white;
}

footer a {
    /* color: blue; */
    font-weight: 500;
    text-decoration: none;
}
