* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

#disclaimer-hero {
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#disclaimer-hero h1 {
    color: rgb(34, 33, 33);
    
    
}

#disclaimer-hero h4 {
    padding: 0% 10% 0% 10%;
    text-align: center;
}

#disclaimer-hero button {
    margin-bottom: 2%;
}

.app-container {
    font-weight: 500;
    font-family: 'HelveticaNeue';
    width: 100vw;
    height: 100vh;
    background: cover;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 0 7%;
    /* display: table; */
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(2n) {
    background-color: rgb(37, 36, 36);
}

.intro {
    background-image: url("images/donut_0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#langs {
    background-image: url("images/donut_1.png");
    background-position: center;
    background-size: contain;
    
}

.content {
    display: table-cell;
    vertical-align: middle;
    align-self: center;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
    text-align: center;
}

p {
    font-size: 1.5em;
}

a {
    font-weight: 700;
    color: #373B44;
}



footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #6e6c6c;
    color: white;
}

footer a {
    font-weight: 500;
    text-decoration: none;
}


.footer-icon {
    width: 5em;
    height: 5em;
}