.languages-container {
    background: rgba(74, 71, 71, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* .languages-header {
    background: rgba(74, 71, 71, 0.5)
} */

.langs-slider-containers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    background-color: rgba(74, 71, 71, 0.5);
    width: 100%;
    height: 100%;
    border: 5px solid green;  
}


.langs-slider-item {
    display: flex;
}

.langs-slider-buttons {
    display: flex;
    flex-direction: column;
}

.langs-slider-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    height: 60vh;
    border: 5px solid red;
}

.langs-slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-title {
    color: white;
}



@keyframes rotate {
    0%,
    15% {
        transform: translateY(0%);
    }
    50%,
    66% {
        transform: translateY(-45px);
    }
    90%,
    99% {
        transform: translateY(-90px);
    }
    100% {

    }
}
