.languages-container {
    background: rgba(74, 71, 71, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

/* .languages-header {
    background: rgba(74, 71, 71, 0.5)
} */

.langs-slider-containers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.1));

    width: 100%;
    height: 100%;
}


.langs-slider-item {
    display: flex;
}

.langs-slider-buttons {
    display: flex;
    flex-direction: column;
}

.langs-slider-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    height: 60vh;
    border: 5px solid gray;
    overflow: scroll;
}

.langs-slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-title {
    color: white;
}

/* The dots indicator */
.dots {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.active,
.dot:hover {
  background-color: gray;
}


@keyframes rotate {
    0%,
    15% {
        transform: translateY(0%);
    }
    50%,
    66% {
        transform: translateY(-45px);
    }
    90%,
    99% {
        transform: translateY(-90px);
    }
    100% {

    }
}
